@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
html {
   overflow-x: hidden;
}
body {
    position: relative;
}
:root {
    --ig-primary-bg: #FFFFFF;
    --gray1: #efefef;
    --gray2: #8E8E8E;
    --bg-main: #FAFAFA;
    --gray3: #262626;
    --blue: #0095F6;
}
/* Global styling */
a {
    text-decoration: none;
    color: var(--gray3);
}
ul {
    list-style-type: none;
}
.d-flex {
    display: flex;
}
.justify-content-space-between {
    justify-content: space-between;
}
.container-fluid {
    width: 80vw;
    min-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.navbar {
    background: var(--ig-primary-bg);
    border-bottom: 1px solid #ccc;
    padding: .3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar-brand {
    flex-grow: .5;
    margin-top: 5px;
}
.brand-img {
    width: 120px;
    height: 30px;  
}
.navbar-form-search {
    background: var(--gray1);
    border-radius: 10px;
    align-items: center;
    width: 16rem;
}
.navbar-form-search > ion-icon {
    font-size: 1.2rem;
    color: var(--gray3);
    padding: .3rem .3rem .3rem .8rem;
}
.form-control {
    outline: none;
    border: none;
    background: transparent;
    padding: .6rem;
    width: 100%;
}
.navbar-form-search .form-control::placeholder {
    font-size: 15px;
    color: var(--gray2);
}
.navbar-nav {
    align-items: center;
}
.navbar-item {
    padding: .6rem .6rem .2rem;
}
.followers-container {
 display: none;
 position: absolute;
 top: 3.5rem;
 right: 8rem;
 width: 450px;
 background: var(--ig-primary-bg);
 padding: .5rem;
 box-shadow: 0 0 5px rgba(0,0,0,0.2);
 border-radius: 5px;
}
#followers-container.dsply {
    display: block;
}
.followers-container > span {
    position: absolute;
    top: -.5rem;
    right: 3.2rem;
    display: block;
    width: 15px;
    height: 15px;
    background: var(--ig-primary-bg);
    transform: rotate(45deg);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: -1;
}
.img-container {
    width: 3rem;
    height: 3rem;
}
.follower-item, .follower-link, .user-detail {
    display: flex;
    align-items: center;
}
.follower-link {
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
}
.follower-link > * {
    font-size: 14px;
}
.user-detail {
    padding-left: .5rem;
}
.btn {
    background: var(--bg-main);
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: black;
    font-weight: 800;
    border-radius: 5px;
}
.navbar-item-icon-fill, .navbar-item-icon-outline {
    display: inline-block;
    font-size: 1.7rem;
    color: var(--gray3);
    cursor: pointer;
}
.navbar-item-icon-fill {
    display: none;
    color: black;
}
.heart-icon-fill.show {
    display: inline-block;
}
.heart-icon-outline.hide {
    display: none;
}
.navbar-item-icon-fill.active {
    display: block;
}
.new-post-container {
    position: absolute;
    background: rgba(0,0,0,0.33);
    left: 0;
    top: 0;
    display: none;
    place-items: center;
    height: 100vh;
    width: 100vw;
    padding: 10px 15px;
}
.new-post-container:target {
    display: grid;
}
.close:target {
    display: none;
}
.close {
    position: absolute;
    top: .9rem;
    right:  1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--ig-primary-bg);
}
.close > a {
    color: #fff;
}
.upload-post {
    background: var(--ig-primary-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.new-post-header {
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: bolder;
    padding: 8px 10px;
    width: 100%;
}
.new-post-body {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-post-body > h2 {
    font-size: 20px;
    padding: 1rem 0;
}
.upload-icon {
    display: block;
    font-size: 4rem;
    text-align: center;
}
.btn-upload {
    background: var(--blue);
    padding: 8px 15px;
    color: var(--ig-primary-bg);
    font-weight: 800;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.user-img-container {
    margin-bottom: 5px;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 1px;
    cursor: pointer;
}
.user-img-container.active {
    border: 1px solid black;
}
.user-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("./assets/user_avatar.jpg");
    background-position: center;
    background-size: cover;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background: #FFFFFF;
    top: 3.5rem;
    right: 5.5rem;
    width: 14rem;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.12);
    border-radius: 5px;
}
.dropdown-arrow {
    position: absolute;
    top: -8px;
    right: 20%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    background: #FFFFFF;
    width: 1rem;
    height: 1rem;
    box-shadow: 0 -2px 2px 1px rgba(0,0,0,0.12);
    z-index: -1;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-item {
    display: flex;
    align-items: center;
    padding: .5rem 1.2rem;
    cursor: pointer;
}
.dropdown-item:hover {
    background: var(--gray1);
}
.dropdown-item > a {
    display: flex;
    align-items: center;
}
.dropdown-item > a > ion-icon {
    font-size: 1.3rem;
    color: var(--gray3);
    margin-right: .8rem;
}
.dropdown-item:last-child {
    border-top: 1px solid #ccc;
}
.main-content {
    background: var(--bg-main);
    width: 100vw;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0;
}
.col {
  margin-top: 2rem;
  width: 470px;
}
.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--ig-primary-bg);
}
.story-item {
    padding: 5px;
}
.story-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: .8rem;
    border-radius: 10px;
    background: var(--ig-primary-bg);
    overflow-y: scroll;
}
.story-container::-webkit-scrollbar {
    display: none;
}
.indicator {
    position: absolute;
    color: #ccc;
    font-size: 1.5rem;
    top: 45%;
    z-index: 5;
}
.indicator1 {
    left: 5px;
}
.indicator2 {
    right: 5px;
}
.story-img-container {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to left bottom, #e05dff, #ff35a7, #ff7349, #ffb800, #a8eb12);
    padding: 2px;
}
.story-user {
    text-align: center;
    font-size: 13px
}
.card > div {
    background: var(--ig-primary-bg);
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 15px;
}
.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header-col {
    display: flex;
    align-items: center;
    padding: .5rem;
}

.card-text {
    display: inline-block;
    font-weight: bold;
    margin: .4rem;
}
.img-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    background-image: linear-gradient(to left bottom, #e05dff, #ff35a7, #ff7349, #ffb800, #a8eb12);
    padding: 2px;
}
.post-img {
    position: relative;
}
.btn-preview, .btn-next {
    background: var(--bg-main);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    color: var(--gray2);
    box-shadow: 0 3px 3px 1px rgba(0,0,0,0.12);
    outline: none;
    border: none;
    text-align: center;
    line-height: 25px;
}
.btn-preview {
    left: 5px;
}
.btn-next {
    right: 5px;
}
.img-post {
    width: 100%;
    height: auto;
}
.react-icons > ion-icon {
    font-size: 1.8rem;
    padding: .2rem .4rem;
}
.react-icons > ion-icon:not(.bookmark-clicked, .heart-fill):hover {
    color: var(--gray2);
}
.heart-outline.hide {
    display: none;
}
.heart-fill {
    color: red;
    display: none;
}
.heart-fill.show {
    display: inline-block;
}
.bookmark, .bookmark-clicked {
    margin-left: 18rem;
    cursor: pointer;
}
.bookmark.hide {
    display: none;
}
.bookmark-clicked {
    display: none;
}
.bookmark-clicked.show {
    display: inline-block;
}
.card-body > p {
    padding: .4rem;
    line-height: .8rem;
}
.post-likes, .post-likes > span {
    font-weight: 800;
    font-size: .8rem;
    cursor: pointer;
}
.post-views {
    color: var(--gray2);
    font-size: 14px;
    font-weight: bold;
}
.post-date {
    color: var(--gray2);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: .4rem;
}
.card-footer > div {
    display: flex;
    align-items: center;
}
.card-footer > div > ion-icon {
    font-size: 1.8rem;
    margin-right: .5rem;
}
.card-footer > div > form > input {
    outline: none;
    border: none;
    width: 350px;
}
.card-footer > div > form > input::placeholder {
    font-weight: 600;
}
.card-footer > span {
    font-size: 14px;
    font-weight: bolder;
    color: var(--blue);
    opacity: 0.4;
}
.col2 {
    position: fixed;
    top: 50px;
    left: 58%;
    padding: .5rem 1rem 3em;
    height: fit-content;
    width: 350px;
}
.switch-account {
   display: flex;
   align-items: center;
}
.switch-account-col1 {
    width: 4rem;
    height: 4rem;
    margin-right: .6rem;
    cursor: pointer;
}
.switch-account-col2 {
    flex-grow: 1;
}
.ig-name {
    font-size: .89em;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}
.user-name {
    font-size: .9rem;
    line-height: 1.2rem;
    color: var(--gray2);
    font-weight: 600;
}
.switch-account-col3 {
    color: var(--blue);
    font-size: .8rem;
    font-weight: bolder;
    cursor: pointer;
}
.suggestions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 0 .8rem;
}
.suggestions > h4 {
    font-weight: bolder;
    color: var(--gray2);
}
.suggestions > a {
    font-size: .8rem;
    color: black;
    font-weight: bold;
}
.user-list > .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem;
}
.list-item > .switch-account-col1 {
    width: 2.5rem;
    height: 2.5rem;
}
.list-item > .switch-account-col2 > .ig-name:hover {
    text-decoration: underline;
}
.list-item > .switch-account-col2 > .user-name {
    font-size: .7rem;
}
.footer {
    padding: 1.3rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer > a {
    display: inline-block;
    font-size: .7rem;
    font-weight: bold;
    color: var(--gray2);
    padding: 0 .2rem;
}
.footer > span {
  line-height: 1rem;
  color: var(--gray2);
  margin-bottom: 5px;
}
.col2 > p {
    font-size: .8rem;
    font-weight: bold;
    color: var(--gray2);
}
.container {
    width: 80%;
    margin: 0 auto;
}
.profile-info {
   display: grid;
   grid-template-columns: 30% 70%;
   padding-top: 5rem;
}
.profile-info > .profile-info-col {
    border-bottom: 1px solid #ccc;    
}
.profile-info-col1 {
    display: grid;
    place-items: center;
    padding: 0 0 3rem;
}
.profile-info-col1 > div {
    width: 10rem;
    height: 10rem;
}
.col2-row1 {
    display: flex;
    align-items: center;
}
.col2-row1 > h1 {
    font-size: 1.8rem;
    color: var(--gray3);
}
.col2-row1 > a {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #ccc;
    font-size: .8rem;
    font-weight: bolder;
    border-radius: 5px;
    margin: 0 1rem;
}
.col2-row1 > ion-icon {
    font-size: 1.5rem;
}
.col2-row2 {
    margin: 1rem 0;
}
.col2-row2 > span {
    font-size: .9rem;
    font-weight: bolder;
    padding-right: 3rem;
}
.col2-row3 > span {
    font-weight: bolder;
}
.data-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
}
.filter-item {
    padding: 12px 5px;
    text-align: center;
    cursor: pointer;
}
.active-filter {
    border-top: 2px solid black;
}
.filter-item > span {
    font-size: 14px;
    color: var(--gray3);
    font-weight: bold;
}
.filter-item > svg {
    margin-right: 5px;
    font-size: 1rem;
}
.posts-container {
    background: var(--ig-primary-bg);
}
.post-box {
    padding: 3rem 2rem 2.8rem;
    height: 400px;
    display: none;
}
.posts{
    display: grid;
    place-items: center;
}
.saved > div > span {
    color: var(--blue);
    font-size: 14px;
    font-weight: bolder;
    vertical-align: middle;
}
.saved > div > small {
    color: var(--gray3);
}
@media (max-width: 1190px) {
    .col2 {
        right: 11%;
    }
}
@media (max-width: 980px) {
    .col2 {
        left: 45%;
    }
}
@media (max-width: 600px) {
    .navbar-brand {
        flex-grow: 0;
    }
    .navbar-item {
        flex-grow: 1;
    }
    .col1 {
        margin: 2rem auto;
    }
    .navbar-form-search {
        display: none;
    }
}